h2 {    
	text-align: center;
    margin-bottom: 30px;
}
body {background-color: rgb(248, 248, 248);}
h2, #updateProc {
    font-family: 'Gothic A1', sans-serif;
    padding-top: 10px;
    margin-left: 130px;
    margin-right: 130px;
}
table, th, td, input {
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 14pt;
    font-family: 'Gothic A1', sans-serif;
}
.update {height: 100px;}
th {width: 200px;}
#id, #pw, #nickname {
    border-radius: 5%;
    border: 2px solid rgb(100, 100, 100);
    background-color: rgb(245, 245, 245);
}
#update {text-align: right;}
#nickcheck, #submit {
    font-weight: bold;
    color: rgb(66, 66, 66);
    text-align: center;
    height: 40px;
    width: 100px;
    background-color: rgb(215, 215, 215);
    border-radius: 10%;
    border: 1px solid rgb(235, 235, 235);
}
#nickcheck:hover, #submit:hover {background-color: rgb(235, 235, 235)}
#nickcheck {margin-left: 80px;}
#submit:disabled {background-color: rgb(150, 150, 150);}
#nicksuccess, #nickfail, #nickequal {font-style: italic;}
#nickfail {color: red;}