#nickname, #anickname {
    text-align: left;
    margin-left: 150px;
}
#postdate, #updatedate, #visitcount, #apostdate, #aupdatedate {
	text-align: right;
	margin-right: 150px;
}
#context, #acontext {
	margin-left: 150px;
}
form, h2 {text-align: center;}
#answertext {
	text-align: left;
}
#rcontext {text-align: left;}
table, th, td, input, select {
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 14pt;
}
textarea {
    width:300px;
    height:80px;
    text-align: initial;
}
#rpostdate {
    font-size: 12pt;
    text-align: right;
    font-style: italic;
}
#rdelete {
    font-size: 12pt;
    text-align: right;
}
#delete, #update, #list, #write,
#answer, #rwrite, #prev, #next {
    font-weight: bold;
    color: rgb(66, 66, 66);
    text-align: center;
    height: 40px;
    width: 100px;
    background-color: rgb(215, 215, 215);
    border-radius: 10%;
    border: 1px solid rgb(235, 235, 235);
}
#prev, #next {float: right;}
#delete:hover, #update:hover, #list:hover, #write:hover,
#answer:hover, #rwrite:hover, #prev:hover, #next:hover {background-color: rgb(235, 235, 235)}
#rdelete > a {color: red;}
#rdelete > a:hover {color: blue;}