#nickname {text-align: left;}
#postdate {text-align: right;}
form, h2 {text-align: center;}
#write {text-align: right;}
table, th, td, input, select {
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 14pt;
}
#context {
    width:1000px;
    height:800px;
    text-align: initial;
}